<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">
<link rel="stylesheet" th:href="@{/css/education-styles.css}">
<link rel="icon" th:href="@{/images/favicon.ico}">

<title>Bodegapp - Bodeguero</title>
</head>

<body>
	<header th:fragment="header" id="header" class="alt">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<div class="d-flex flex-grow-1">
				<span class="w-100 d-lg-none d-block"> <!-- hidden spacer to center brand on mobile --></span>
				<a class="navbar-brand px-3" th:href="@{/bodegueros/}" ><img
					th:src="@{/images/pc.png}" width="30" height="30"
					class="d-inline-block align-top"><b> LATIN</b> Bodegapp</a>
				<div class="w-100 text-right">
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#myNavbar7">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</div>
			<div class="collapse navbar-collapse flex-grow-1 text-right pr-3"
				id="myNavbar7">
				<ul class="navbar-nav ml-auto flex-nowrap">
					<li class="nav-item ml-2"><a th:href="@{/bodegueros/}" class="nav-link nav">Mi perfil</a></li>
					<li class="nav-item ml-2"><a th:href="@{/clientes/}" class="nav-link">Mis clientes</a></li>
					<li class="nav-item ml-2"><a th:href="@{/productos/}" class="nav-link">Mis productos</a></li>
					<li>
						<div class="btn-nav">
							<a class="btn btn-outline-light navbar-btn ml-3" th:href="@{/}">Cerrar
								sesión</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	
	<main>
		<section class="container">
				<h1>Asesor - Layout master</h1>
		</section>	
	</main>
	
	<footer th:fragment="footer">
		<nav id="footer"
			class="navbar sticky-bottom navbar-dark bg-dark justify-content-center">
			<span class="navbar-text"> <small>©2020 Todos los
					derechos reservados. Creado por Bodegapp</small>
			</span>
		</nav>
	
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</footer>		
</body>
</html>