<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-bodeguero :: head">
</head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/solid.min.css}">
	<link rel="stylesheet" th:href="@{/css/education-styles.css}">
	<link rel="icon" th:href="@{/images/favicon.ico}">  
    

    <title>clientes de gatos </title>
</head>
<body>

<div class="row">
                <div class="col">
                    <h1>Registra el cliente</h1>
                </div>
            </div>
	 <a class="btn btn-primary"  th:href="@{/clientes/registrar-cliente}" role="button">registar cliente</a>
	<nav id="footer" class="navbar sticky-bottom navbar-dark bg-dark justify-content-center">
        <span class="navbar-text">
            <small>©2020 Todos los derechos reservados. Creado por Matusalen</small>
        </span>
    </nav>
    
    	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>	